body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

h2 {
  text-align: center;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}